<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="/Users/ferdous/Desktop/QA online course in NY/Selenium/Selenium/src/Advance_TestNG_Framework/DataProviderExample.java">
        <classes/>
    </test>
</suite>